* {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    background-color: rgb(216, 238, 245);    
    background: url(/images/cinema-background.jpg);
    background-attachment: fixed;
    align-content: center;
  }

.app {
    display: flex;
    flex-direction: column;
    flex:10;
    margin:20px;
}

.movie {
    display: none;
    flex-direction: column;
}

.movies__fav-icon--favourited {
    color:red;
}

.movie__info {
    display: flex;
    flex-direction: column;
}

.header__name {
    display:flex;
    flex-direction:row;
    min-height:100px;
    color:#D10524;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 48px;
    color: #E1CFEA;
    text-align: center;
    justify-content: center;
  }

  .header__search {
      display:flex;
      flex:1;
  }

  main {
      display: flex;
      flex-direction:row;
      margin:20;
  }

  form {
      display:flex;
      flex:1;
      justify-content:space-between;
  }

  input[type="search"] {
    background: rgba(196, 196, 196, 0.43);
    border: 2px solid white;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 185px;
    height: 42px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-right:20px;
  }

  .search__submit {
    background: rgba(255, 126, 186, 0.47);
border: 2px solid #FFFFFF;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 113px;
height: 42px;
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
text-align: center;

color: #FFFFFF;
padding: 1px;
      
  }


  .results {
      display: flex;
      flex-direction:column;
      flex:1;
  }

  .result {
      display:flex;
      flex-direction:row;
      margin:20px 0 0 0;
      padding:0px;
      width:100%
  }

  .result__text {
    display:flex;
    flex-direction:column;
    flex:1;
  }

  .result__links {
      display:flex;
      flex-direction:column;
      flex:1;
      margin:5px;
  }
  .result__info {
    display:flex;
    flex-direction:column;
    width:60%;
    padding-left: 20px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1em;
    text-align: center;  
    color: #FFFFFF;
    background: rgba(20, 45, 108, 0.68);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #FFFFFF;
    border-left: 0;
    box-sizing: border-box;
    padding:20px;
  }

  .result__poster {
      display:flex;
      flex-direction: row;
      height:200px;
      width:40%;
      background: rgba(196, 196, 196, 0.43);
      border: 2px solid #FFFFFF;
      box-sizing: border-box;
      padding:20px;
      justify-content: center;
  }

  .result__link {
      display:flex;
      flex:1;
      justify-content: center;
  }

  .movie__info {
    display:flex;
    flex-direction:column;
    width:100%;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1em;
    text-align: center;  
    color: #FFFFFF;
    background: rgba(20, 45, 108, 0.68);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    padding:20px;
  }

  .movie__poster {
    display:flex;
    flex-direction: row;
    width:100%;
    background: rgba(196, 196, 196, 0.43);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    padding:20px;
    justify-content: center;
}


  .cover {
      width: 100%;
      object-fit: cover;
  }